<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">{{title}}</h1>
    </div>
    <card header="Header 1" footer="Footer 1">
        <top>Content for top part 1</top>
        <middle>Content for middle part 1</middle>
        <bottom>Content for bottom part 1</bottom>
    </card>

    <card header="Header 2" footer="Footer 2">
        <top>Content for top part 2</top>
        <middle>Content for middle part 2</middle>
        <bottom>Content for bottom part 2</bottom>
    </card>

    <card header="Header 3" footer="Footer 3">
        <top>Content for top part 3</top>
        <middle>Content for middle part 3</middle>
        <bottom>Content for bottom part 3</bottom>
    </card>
</div>