<form [formGroup]="reactiveForm" (ngSubmit)="submitForm(reactiveForm.value)">
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center text-capitalize">{{title}}</h1>
            <div class="form-group" [ngClass]="{'has-error':(!reactiveForm.controls['name'].valid && reactiveForm.controls['name'].dirty)}">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control required" placeholder="Name" name="name" [formControl]="reactiveForm.controls['name']">
                <div *ngIf="reactiveForm.controls['name'].errors && reactiveForm.controls['name'].dirty" class="alert alert-danger">
                    <div [hidden]="!reactiveForm.controls['name'].errors.required">
                        Name is required.
                    </div>
                    <div [hidden]="!reactiveForm.controls['name'].errors.minlength">
                        Name must be at least 4 characters long.
                    </div>
                    <div [hidden]="!reactiveForm.controls['name'].errors.maxlength">
                        Name cannot be more than 24 characters long.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <div class="alert alert-danger" *ngIf="(!reactiveForm.controls['gender'].valid && reactiveForm.controls['name'].valid)">You must select a gender.</div>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="Male" [formControl]="reactiveForm.controls['gender']"> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="Female" [formControl]="reactiveForm.controls['gender']"> Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Activities</label>
                <div>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="hiking" value="hiking" [formControl]="reactiveForm.controls['hiking']"> Hiking
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="running" value="running" [formControl]="reactiveForm.controls['running']"> Running
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!reactiveForm.valid">Submit</button>
            </div>
        </div>
    </div>
</form>
